<%= link_to "Edit article", edit_article_path %>
<article>
<h2><%= @article.title %></h2>
<br>
<p><%= @article.content %></p>
</article>

<%= link_to "Delete this article?",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<br>
<%= link_to "Back to list", articles_path %>